# PANDA Excersice

In [20]:
import numpy as np
import pandas as pd
import matplotlib as mt

In [36]:

pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})

In [89]:
pets_sorted= pets.sort_values(by=['age'])
 
pets_sorted.index= pets_sorted['age']

In [90]:
pets_sorted

    sex  age                     pets
age
19    F   19            [rabbit, cat]
21    M   21               [cat, dog]
23    F   23            [cat, gerbil]
30    M   30                    [cat]
34    F   34                    [dog]
45    M   45                [hamster]
47    F   47                    [cat]
56    M   56  [fish, hamster, gerbil]
62    M   62                    [dog]
70    F   70                    [dog]

# What sex was the youngest respondent?

In [95]:
pets_sorted[pets_sorted['age']== 19]

    sex  age           pets
age
19    F   19  [rabbit, cat]

In [81]:
pets.loc[pets['age'] == min(pets['age']), 'sex']

8    F
Name: sex, dtype: object

# What age was the person with the most pets?

In [99]:
pets['Num_pets']= pets['pets'].apply(lambda x: len(x))

In [100]:
pets

  sex  age                     pets  Num_pets
0   M   21               [cat, dog]         2
1   M   45                [hamster]         1
2   F   23            [cat, gerbil]         2
3   M   56  [fish, hamster, gerbil]         3
4   F   47                    [cat]         1
5   F   70                    [dog]         1
6   F   34                    [dog]         1
7   M   30                    [cat]         1
8   F   19            [rabbit, cat]         2
9   M   62                    [dog]         1

In [107]:
pets.loc[pets['Num_pets'] == max(pets['Num_pets']), 'age']

3    56
Name: age, dtype: int32

In [108]:
pet_series = pets['pets'].apply(pd.Series).stack().reset_index(drop=True)
pet_series

0         cat
1         dog
2     hamster
3         cat
4      gerbil
5        fish
6     hamster
7      gerbil
8         cat
9         dog
10        dog
11        cat
12     rabbit
13        cat
14        dog
dtype: object

In [117]:
pet_series.value_counts()

cat        5
dog        4
gerbil     2
hamster    2
fish       1
rabbit     1
dtype: int64

In [118]:
pets.loc[pets['pets'].apply(lambda x: 'dog' in x), 'age'].mean()

46.75